* {
  font-family: Helvetica;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 80%;
  margin: 0 auto;
}

nav {
  padding: 0;
}

nav ul li{
  display: inline-block;
  padding: 0 20px 0 0;
}

nav ul {
  padding: 0;
}

form input{
  border: 1px solid gray;
  padding: 10px 15px;
  margin: 5px auto;
  font-size: 15px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}
a {
  text-decoration: none
}
